@use 'tailwindcss';

:root {
  --m3background: #0a0f0f;
  --m3onBackground: #dce8e6;
  --m3surface: #0a0f0f;
  --m3surfaceDim: #0a0f0f;
  --m3surfaceBright: #242e2d;
  --m3surfaceContainerLowest: #000000;
  --m3surfaceContainerLow: #0e1514;
  --m3surfaceContainer: #131b1a;
  --m3surfaceContainerHigh: #192120;
  --m3surfaceContainerHighest: #1d2827;
  --m3onSurface: #dce8e6;
  --msSurfaceVariant: #1d2827;
  --m3onSurfaceVariant: #a2adac;
  --m3outline: #6d7876;
  --m3outlineVariant: #3f4a49;
  --m3inverseSurface: #f6faf9;
  --m3inverseOnSurface: #515655;
  --m3shadow: #000000;
  --m3scrim: #000000;
  --m3surfaceTint: #9bd0cc;
  --m3primary: #9bd0cc;
  --m3primaryDim: #8ec2bf;
  --m3onPrimary: #0d4845;
  --m3primaryContainer: #255b58;
  --m3onPrimaryContainer: #b8ede9;
  --m3inversePrimary: #336764;
  --m3primaryFixed: #b7ede9;
  --m3primaryFixedDim: #a9deda;
  --m3onPrimaryFixed: #0c4744;
  --m3onPrimaryFixedVariant: #306461;
  --m3secondary: #b0ccc9;
  --m3secondaryDim: #a3bebc;
  --m3onSecondary: #2c4543;
  --m3secondaryContainer: #27403e;
  --m3onSecondaryContainer: #a9c5c2;
  --m3secondaryFixed: #cce8e5;
  --m3secondaryFixedDim: #bedad7;
  --m3onSecondaryFixed: #2b4442;
  --m3onSecondaryFixedVariant: #47605e;
  --m3tertiary: #d5efff;
  --m3tertiaryDim: #b6e3fe;
  --m3onTertiary: #2e5c72;
  --m3tertiaryContainer: #b6e3fe;
  --m3onTertiaryContainer: #255369;
  --m3tertiaryFixed: #b6e3fe;
  --m3tertiaryFixedDim: #a8d5ef;
  --m3onTertiaryFixed: #0b4156;
  --m3onTertiaryFixedVariant: #2f5d73;
  --m3error: #fa746f;
  --m3errorDim: #c54d4a;
  --m3onError: #490006;
  --m3errorContainer: #871f21;
  --m3onErrorContainer: #ff9993;
  --m3primaryPaletteKeyColor: #4c807d;
  --m3secondaryPaletteKeyColor: #627c7a;
  --m3tertiaryPaletteKeyColor: #517d94;
  --m3neutralPaletteKeyColor: #737877;
  --m3neutralVariantPaletteKeyColor: #6e7978;
  --m3errorPaletteKeyColor: #c84f4c;
  --m3primary_paletteKeyColor: #4c807d;
  --m3secondary_paletteKeyColor: #627c7a;
  --m3tertiary_paletteKeyColor: #517d94;
  --m3neutral_paletteKeyColor: #737877;
  --m3neutral_variant_paletteKeyColor: #6e7978;
  --m3term0: #343434;
  --m3term1: #769e00;
  --m3term2: #56e2c0;
  --m3term3: #81fcce;
  --m3term4: #76b6b3;
  --m3term5: #7aaee9;
  --m3term6: #83d8c9;
  --m3term7: #cddcd3;
  --m3term8: #9aa59e;
  --m3term9: #85b900;
  --m3term10: #41f7d0;
  --m3term11: #cdffe9;
  --m3term12: #a3c8c3;
  --m3term13: #a2c0f7;
  --m3term14: #8bedd9;
  --m3term15: #ffffff;
  --m3rosewater: #f1f3e5;
  --m3flamingo: #e3e4c5;
  --m3pink: #bae2ff;
  --m3mauve: #60cfe8;
  --m3red: #8ab5ff;
  --m3maroon: #abbef0;
  --m3peach: #a9daac;
  --m3yellow: #d3fae8;
  --m3green: #8df1df;
  --m3teal: #9feee7;
  --m3sky: #93eae9;
  --m3sapphire: #70d7db;
  --m3blue: #57cdda;
  --m3lavender: #86d9e7;
  --m3klink: #00969e;
  --m3klinkSelection: #00969e;
  --m3kvisited: #008ca9;
  --m3kvisitedSelection: #008ca9;
  --m3knegative: #838f00;
  --m3knegativeSelection: #838f00;
  --m3kneutral: #34c359;
  --m3kneutralSelection: #34c359;
  --m3kpositive: #00beab;
  --m3kpositiveSelection: #00beab;
  --m3text: #dce8e6;
  --m3subtext1: #a2adac;
  --m3subtext0: #6d7876;
  --m3overlay2: #5f6967;
  --m3overlay1: #505958;
  --m3overlay0: #434b4a;
  --m3surface2: #353d3c;
  --m3surface1: #282e2e;
  --m3surface0: #191f1e;
  --m3base: #0a0f0f;
  --m3mantle: #0a0f0f;
  --m3crust: #090e0e;
  --m3success: #B5CCBA;
  --m3onSuccess: #213528;
  --m3successContainer: #374B3E;
  --m3onSuccessContainer: #D1E9D6;
  --radius-lg: 40px;
}

@theme inline {
    --color-background: var(--m3background);
    --color-foreground: var(--m3foreground);
}

@layer base {
    a {
        transition: all 0.3s cubic-bezier(0.42, 0.01, 0.58, 1);
        color: var(--m3onSurfaceVariant);

        & span {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: var(--m3onSurface);
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .content-frame {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0 12px;
    }

    .links {
        display: flex;
        gap: 6px;

        a {
            &::after {
                content: '·';
                margin-left: 6px;
            }

            &:last-child::after {
                content: unset;
            }
        }
    }

    .join-discord {
        border: 2px solid #7289da;
        background-color: #7289da66;
        padding: 6px 12px;
        margin-top: 20px;
        border-radius: var(--radius-lg);
        font-weight: 700;
        transition: all 300ms ease;

        &:hover {
            background-color: #7289da;
        }
    }

    .surface-container {
        display: flex;
        flex-direction: column;
        border-radius: var(--radius-lg);
        background-color: var(--m3surfaceContainer);
        color: var(--m3onSurface);
        padding: 40px;
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
    }
}

body {
    background: var(--m3surface);
    color: var(--m3onSurface);
    font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
}
